@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
  }

  *{
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
  }

  /* Shared styles */
  .display-flex{
    display: flex;
  }

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
p{
    color: rgb(173, 173, 173);
}

/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-light-gray{
    color: #727272;

}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

/* header styles */
header{
    padding-bottom: 50px;
    margin-bottom: 85px;
}



/* nav-bar related styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-bar-item{
    list-style: none;
    margin: 30px;    
  }
.nav-bar-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.nav-bar, .banner, .feature{
    max-width: 1200px;
    margin: 0 auto;

}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner .banner-image{
    width: 100%;
    align-items: center;
    padding: 40px;
}
.banner .banner-description{
    margin-bottom: 32px;
}

/* team and feature realted style */
.teams{
    max-width: 1100px;
    margin: 0 auto;
    gap: 50px;
    align-items: center;
}

section {
    margin-bottom: 120px;
}
.our-features{
    margin-top: 120px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 40px;
}
.feature{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    justify-content: space-between;
}
.feature-image-container img{
    width: 100%;

}

/* feature section title */
.feature-title{
    font-size: 40px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 30px;
}
.our-features .feature-description{
    margin-bottom: 30px;
}
.card{
    padding: 10px;
    border-radius: 8px;
    box-shadow: 3px 5px 10px lightgray;
    margin-bottom: 30px;
    width: 450px;
    height: 100px;

}
.card-container h4{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
.card .card-container p{
    margin-top: 0px;
    padding: 0px;
}
.feature-button{
    background-color: #FF900E;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    margin-top: -100px;
    margin-left: -60px;
}

.feature-btn-text{
    font-size: 20px;
    margin: 0;
    font-weight: 300;
    margin: 10px;
}
.feature-button h1{
    font-size: 40px;
    margin: 0;
    
}
/* facts section style */
.facts{
    padding-left: 80px;
    font-size: 20px;
}
.facts h2{
    margin-bottom: 20px;
}
.facts .facts-title-description{
    font-size: 16px;
    margin-bottom: 70px;
}
.fact-container{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    text-align: center;
    gap: 50px; 
}
.fact{
    border: 2px solid #FF900E;
    gap: 20px;
    padding: 50px;
    border-radius: 8px;
    width: 300px;
    height: 250px;
}

.fact .fact-text{
    margin-top: 0px;
}
.fact h5{
    color: #727272;
}
.fact img{
    margin-top: 0px;
}
/* Sponsors related style */

.sponsors h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 16px;   
}
.sponsors p{
    text-align: center;
    font-weight: 600;
}
.sponsors .sponsors-icon{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.sponsors-icon img{
    filter: grayscale(100%);
}


/* footer related style */

.footer-text{
    width: 100%;
    height: 100px;
    background-color: #FFF4E7;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 20px;
    margin-bottom: 80px;
}
/* responsive media query */
@media screen and (max-width:576px) {
    .nav-bar, .nav-bar-links{
        flex-direction: column;
    }
    
}